@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  /*$bg-color: (
    'page': #78e512,
    '': #626aef,
    'overlay': #78e512,
  ),*/
  $colors: (
    'primary': (
      'base': #dc0b82,
    ),
  ),
);

//@use "element-plus/theme-chalk/src/index.scss" as *;
