node_modules
dist
target
out
local.properties
build
captures
.externalNativeBuild
.cxx
logs
package-lock.json
pnpm-lock.yaml
miniprogram_npm
/Note/project_drive/dockerdrive/*.war

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Log files ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gradle

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iws
*.iml
*.ipr
*.drawio.bkp
*.drawio.dtmp

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

