@use 'src/styles/theme-chalk/src/mixins/mixins' as *;
@use 'src/styles/theme-chalk/src/mixins/var' as *;
@use 'src/styles/theme-chalk/src/common/var' as *;

@include b(footer) {
  @include set-component-css-var('footer', $footer);

  padding: getCssVar('footer-padding');
  box-sizing: border-box;
  flex-shrink: 0;
  height: getCssVar('footer-height');
}
