*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  color: #000000;
}

input, select, textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none; /* 去除文本拖拽*/
}

img {
  display: block;
}

/* 清除浮动 */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

/*画箭头*/
.huajiantou {
  width: 0px;
  height: 0px;
  border-width: 50px;
  border-style: solid dashed dashed dashed;
  border-color: red transparent transparent transparent;
}

/*文字 不允许选取*/
.noselector {
  cursor: pointer;
  user-select: none;
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

/*图片的对齐方式*/
.imgva {
  vertical-align: top;
  /*vertical-align: middle;*/
  /*vertical-align: baseline;*/
}

.toolbar {
  margin: 0px 0px 20px 0px;
}

.input-width {
  width: 300px !important;
}

.el-pagination {
  margin-top: 20px;
}

.margin-a {
  margin: 0px 0px 0px 14px;
}
